 /* body {
    background-color: bisque;
    display: flex;
    
} */

#destaque {
    width: 50%;
    height: 100vh;
    background: url("../images/destaque-login.jpg");
    background-size: cover;  
    /* background-attachment: fixed; */
} 

#pata {
    background: url("../icones/bicho-de-estimacao.jpg") ;
}