/*--------------------------------------------------------------
# Estilização Página de Login
--------------------------------------------------------------*/
#destaque {
    width: 50%;
    height: 100vh;
    background: url("../../images/destaque-login.jpg");
    background-size: cover;  
    border-radius: 0;
    border-top: 0;
} 


#pata {
    width: 9%;
    height: 8vh;
    background: url("../../icones/pet2.png") top center;
    background-size: cover;
    margin: 10px;
}

h1 {
    font-size: 2rem;
    color: #1E266D;
    padding: 8px;
}

.estilo-p {
    color: #C3C7E5;
    padding: 10px;
}

.estilo-form {
    padding: 10px;
}

.input {
    width: 350px;
    
}

.cadeado {
    margin: 9px;
    width: 4%;
    height: 4vh;
    background-size: cover;
}

.estilo-cadeado {
    display: flex;
    justify-content: center;
}

.hero {
    position: relative;
    bottom: -11px;
    
}

.botao {
    width: 350px;
    height: 61px;
    background-color: #FF7F50;
    border: solid;
    cursor: pointer; 
}

.botao:hover, .botao:focus, .botao:active {
    border: solid;
    cursor: pointer;
    background-color: #e96d3f;
}

.tag-style {
    position: relative;
    padding: 6px;
    right: -5px;
}

@media screen and (max-width: 1326px) {
    #pata {
        width: 8.1%;
    }
}




@media screen and (max-width: 982px) {
    
    .estilo-cadeado {
        display: flex;
        justify-content: right;
        right: 14px;
        position: relative;
    }
    
    .hero {
        bottom: -11px;
        
    }

    #destaque {
        width: 45%;

    } 
    
    
    #pata {
        width: 7%;
        height: 4.8vh;
    }

    h1 {
        font-size: 1.6rem;
    }

    .input {
        width: 300px;
    }

    .botao {
        width: 305px;
    }

}