* {box-sizing: border-box;}   
img {max-width: 100%;}
html { font-size: 14px;}

/*--------------------------------------------------------------
# Estilização Página de Login
--------------------------------------------------------------*/


.img-responsivo {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

#pesquisa{
    border: 1px solid red;
}

a {text-decoration: none;}


#destaque {
    width: 50%;
    height: 100vh;
    background: url("../../images/destaque-login.jpg");
    background-size: cover;
    border-radius: 0;
    border-top: 0;
}

#pata {
    width: 2rem;
    height: 5vh;
    background: url("../../icones/pet1.png") top center;
    background-size: cover;
    margin: 10px;
    
}

h1 {
    font-size: 1.6rem;
    color: #1E266D;
    padding: 8px;
    font-weight: bold;
}

.estilo-p {
    color: #C3C7E5;
    padding: 10px;
    font-size: 20px;
}

.estilo-form {
    padding: 10px;
}

.input-login {
    width: 395px;
}

.input {
    width: 395px;
}

.center-form {
    position: relative;
    top: 100px;
}




.estilo-cadeado {
    width: 96%;
    display: flex;
    justify-content: right;
}

.hero {
    position: relative;
    bottom: -9px;
}


.botao {
    width: 395px;
    height: 61px;
    background-color: #FF7F50;
    border-color: #e96d3f;
    cursor: pointer;
}

.botao:hover,
.botao:focus {
    border-color: #e96d3f;
    border-color: #e96d3f;
    cursor: pointer;
    background-color: #e96d3f;
}

.enviar {
    background-color: #FF7F50;
    cursor: pointer;
    border-color: #e96d3f;
}

.enviar:hover,
.enviar:focus {

    border-color: #e96d3f;
    cursor: pointer;
    background-color: #e96d3f;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #e96d3f;
    border-color: #e96d3f;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgb(219, 106, 65);
}

.tag-style {
    position: relative;
    padding: 6px;
    right: -5px;
}


/* Small mobile */
@media (min-width: 350px) and (max-width: 991px){

    #destaque {
        display: none;
    }

    .input-login {
        width: 100%;
    }

    .center-form {
        position: relative;
        top: 6%;
    }
 
}


/*--------------------------------------------------------------
# Estilização Página de Cadastro
--------------------------------------------------------------*/

.img-responsivo-cadastro {
    display: flex;
    justify-content: space-between;
    gap: 50px;

}

.center-form-cadastro {
    position: relative;
    top: 30px;
}

#destaque-cadastro {
    width: 50%;
    height: 100vh;
    background: url(../../images/destaque-cadastro.jpg);
    background-size: cover;
    border-radius: 0;
    border-top: 0;
}

.estilo-l {
    font-size: 14px;
    color: #C3C7E5;
    position: relative;
    right: -38px;
}

.tag-style-c {
    color: #C3C7E5;
    position: relative;
    padding: 6px;
    right: -90px;
}

.form-check-input:checked[type="checkbox"] {
    background-color: #FF7F50;
    border-color: #FF7F50;
}

@media screen and (max-width: 767px) {

    .estilo-l{
     right: -3px;
    }}

    @media screen and (max-width: 700px) {
        .estilo-l{
            right: -20px;
            padding: 3px;
        }
    }
@media screen and (max-width: 666px) {
    #teste{
        display: none;
    }
    
    #pata{
        height: 3.5vh;
        margin: 3px;
    }
}



/*--------------------------------------------------------------
# Estilização Página HOME
--------------------------------------------------------------*/

body {
    background-color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {flex: 1;}

.limitador {
    width: 97vw;
    margin: auto;
}

header {
    z-index: 100;
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

nav h2 a {
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    display: inline-block;
}


nav  a:hover, nav a:focus{
    background-color: #ffe9e0;
}

.menu {
    list-style: none;
    display: none;
}

.menu a {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #1E266D;
}

.menu.aberto{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
}

@media screen and (min-width: 530px) {
    nav h2 {display: none;}
    html { font-size: 0.9rem;}
    .menu {
        display: flex;
        text-transform: uppercase; 
        justify-content: space-between;
        align-items: center;   
    }
    
    
    nav {width: 70%;}

    .menu li { width: 100%;}
}


.icon-city {
    background: url(../../icones/pata.png) no-repeat scroll 7px 7px ;
    padding-left:50px;
}

.icon-house {
    background: url(../../icones/pet-house4.png) no-repeat scroll 7px 7px ;
    padding-left:50px;
}

.icon-animal {
    background: url(../../icones/bola-de-cachorro.png) no-repeat scroll 7px 7px ;
    padding-left:50px;
}

.icon-race {
    background: url(../../icones/bicho-de-estimacao.png) no-repeat scroll 7px 7px ;
    padding-left:50px;
}


/*--------------------------------------------------------------
# Estilização Página de Processo de adoção
<<<<<<< Updated upstream
--------------------------------------------------------------*/

.botaoH {
    height: 35px;
    width: 120px;

}

.btn-primary {
    color: #fff;
    background-color: #e96d3f;
    border-color: #e96d3f;
}


.botaoH:hover {
    color: #fff;
    background-color: #e96d3f;
    border-color: #e96d3f;
}


.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
    color: #1E266D;
    /* Cor do texto na barra de navegação */
    font-weight: bold;
}

.bg-dark {
    background-color: #fff1eb !important;
}

.navbar-dark .navbar-toggler {
    border-color: #1E266D;
    /* Cor da borda do botão de toggler */
}


.navbar-dark .navbar-toggler:hover {
    background-color: rgba(17, 16, 16, 0.3);
    /* Cor de fundo do botão de toggler ao passar o mouse */
}

.navbar-dark .navbar-toggler-icon {
    background-color: #352f2f;
    /* Cor do ícone do botão de toggler (ícone "hamburguer") */
}

.cabecalho {
    color: #000 !important;
    background-color: #fff1eb;
}

.menu-color {background-color: #fff1eb !important;}

.form-control, ::placeholder{
    /* background-color: #FFF1EB; */
    background-color: #ffffff;
}

.form-floating>.form-control, .form-floating>.form-control-plaintext{
    /* background-color: #FFF1EB; */
    background-color: #ffffff;
}

.floatingInput{
    background-color: #FFF1EB;
}

/* .cont, ::placeholder{
    background-color: #FFF1EB;
} */




/*--------------------------------------------------------------
# Estilização Página de Adoção
--------------------------------------------------------------*/

.customize {font-weight: bold;}
a {text-decoration: none;}


.dividir {
    display: flex;
    justify-content: space-between;
}

.container-adocao {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.cor-padrao {
    background-color: #db4712;
}

.progress-text {
    display: flex;  
    justify-content: space-between;
}

.Beetle-letters {color: #C3C7E5;}
.negrito {font-weight: bold;}
.decrease-letters {font-size: 14px;}

.decrease {
    font-weight: bold;
    color: #070b35;
    font-size: 14px;
}

.divide {
    display: flex;
    justify-content: space-between; 
}

.tamanho-form {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.input-adocao {
    width: 455px;
}

.inputs-adocao {
    width: 225px;
}
.entry {width: 459px;}

.form-floating {
    margin-right: 6px; /* Adicione a margem desejada entre os elementos */
}



.personalizar {
    text-align: center;
    padding-top: 20px;
    padding: 9px;
}




/*--------------------------------------------------------------
# Estilização do Footer
--------------------------------------------------------------*/

.footer-color {
    margin-top: 40px;
    background-color: #040726;
    color: white !important;
}
